.mainFilter {
  align-items: center;
  text-align: center;
  margin-right: 100px;
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding-top: 20px;
}

#sort {
  font-size: 18px;
  color: #373737;
}
#filter-select,
#filter-price-select {
  font-family: "Josefin Sans", sans-serif;
  color: beige;
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: #373737;
  width: 150px;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}
#filter-select:hover,
#filter-price-select:hover {
  color: lightgreen;
}
