* {
  margin:0;
  padding: 0;
  background-color: antiquewhite;
}
.card {
  display: flex; 
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
width: 1000px;
align-items: center;
margin-left: 25%;

}

h1 {
  text-align: center;
}

/* .card-item {
  width: 300px;
  margin-bottom: 20px;
} */

img {
  background-repeat: no-repeat;
  background-size: 1000px;
}
