@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:wght@100&family=Pacifico&family=Roboto&display=swap');
* {
  margin:0;
  padding: 0;
  background-color: antiquewhite;
}
.card {
display: flex; 
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
width: 1000px;
align-items: center;
margin-left: 25%;

}

h1 {
 
  margin-left: 90px;
  font-family: 'Allura', cursive;
  color:rgb(122, 68, 57);
  font-size: 80px;
  letter-spacing: 7px;
  text-align: center;
}

img {
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
}

.order {
  position:absolute;
  top: 35%;
  right: 50%;
  width: 200px;
  height: 100px;
}
.navigation {
  display: flex;
  justify-content: space-around ;
  
}

h3, .reservation {
  font-family: 'Josefin Sans', sans-serif;
}

.reservation {
  width: 200px;
  height: 50px;
  font-size: 20px;
}